body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 100px;
    height: 55px;
}


.nav-menu {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0px;
}

.nav-item {
    list-style: none;
    margin-right: 36px;

}

.nav-item a {
    text-decoration: none;
}

.nav-item:first-child {
    margin-right: auto;
}

input {
    border: none;
    border-bottom: 1px solid;
}

.dropdown-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list {
    list-style: none;
}

.list a {
    text-decoration: none;
}




.main-pictures {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.gallery {
    width: 300px;
}