body {
    font-family: 'Futura PTT','Helvetica Neue','Arial',sans-serif;
    font-size: 13px;  
}

.logo {
    width: 130px;
    height: 75px;
}


.nav-menu {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0px;
    margin-left: 2.5%;
    font-size: 12px;
}

.nav-item {
    list-style: none;
    margin-right: 36px;
}

.nav-item a {
    text-decoration: none;
}

.nav-item:first-child {
    margin-right: auto;
}

input {
    border: none;
    border-bottom: 1px solid;
}

.dropdown-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.list {
    list-style: none;
}

.list a {
    text-decoration: none;
}


.gallery {
    width: 30%;
}


footer {
    background-color: #f5f5f5;
}

.email-marketing {
    margin-top: 40px;
    display: grid;
    justify-content: center;
}

.membership {
    margin-top: 15px;
}

.email-input {
    text-align: center;
    margin-top: 15px;
}


.footer-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
}

h4 {
    margin-top: 20%;
}

ul {
    list-style: none;
    padding: 0;
}

.footer-col {
    width: 30%;
    padding: 0 18px;
}





@media (max-width: 768px) {
    
    .line {
        width: 30px;
        height: 2px;
        background-color: black;
        margin: 5px;
    }

    .hamburger-menu {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 4%;
    }
    
    .gallery {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .main-pictures {
        display: flex;
        flex-direction: column;
    }
    .dropdown-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        line-height: 2;

    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2;
    }
}

